<br>

<div class="row ms-auto me-auto">
  <div class="col">
    <record-collecion-list
      [recordList]="recordCollectionService.recordsMain"
      (onDeleteRecordList)="recordCollectionService.onDeleteRecordMain($event)"
    >
    </record-collecion-list>
  </div>

  <div class="col">
    <record-collection-add-record
      (onNewRecordAdd)="recordCollectionService.onNewRecordMain($event)"
    >
    </record-collection-add-record>
  </div>
</div>

<record-collection-footer></record-collection-footer>
