<h4 class="text-center">List</h4>

<ul class="list-group">
  <li
    *ngFor="
    let record of recordList;
    let i = index;
    let isEven = even;
    let isOdd = odd;"

    class="list-group-item"


    [ngClass]="{
      'list-group-item-danger': isEven,
      'list-group-item-warning': isOdd,
    }"
  >

    <span class="text-primary"> {{ i + 1 }}. </span>
    <strong>{{ record.name }} </strong>
    <span> by </span>
    <strong>{{ record.by }} </strong>

    <br>

    <span> Songs: {{record.songs}} - </span>
    <span> Release date: {{record.release_date}}</span>

  </li>
</ul>
